.footer {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    padding: 10px;
    background-color: bisque;
    img{
        height: 2rem;
    }
}